body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:451px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:20px;
  top:10px;
  width:431px;
  height:652px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:652px;
}
#u2 {
  position:absolute;
  left:2px;
  top:318px;
  width:427px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:75px;
  top:86px;
  width:320px;
  height:480px;
}
#u4 {
  position:absolute;
  left:75px;
  top:86px;
  width:321px;
  height:26px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:26px;
}
#u5 {
  position:absolute;
  left:2px;
  top:5px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:75px;
  top:112px;
  width:322px;
  height:28px;
  text-align:left;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:28px;
}
#u7 {
  position:absolute;
  left:2px;
  top:3px;
  width:318px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:171px;
  top:180px;
  width:130px;
  height:100px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:100px;
}
#u9 {
  position:absolute;
  left:2px;
  top:42px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
