body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:710px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:311px;
  top:586px;
  width:66px;
  height:44px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:44px;
}
#u1 {
  position:absolute;
  left:2px;
  top:14px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:71px;
  top:118px;
  width:321px;
  height:457px;
  overflow:hidden;
  visibility:hidden;
}
#u2_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:457px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  text-align:left;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u4 {
  position:absolute;
  left:2px;
  top:4px;
  width:316px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:39px;
  width:160px;
  height:30px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:156px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:159px;
  top:39px;
  width:161px;
  height:30px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:157px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:0px;
  top:68px;
  width:320px;
  height:388px;
  overflow:hidden;
}
#u9_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:388px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u9_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10 {
  position:absolute;
  left:-10px;
  top:0px;
  width:330px;
  height:390px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:390px;
}
#u11 {
  position:absolute;
  left:2px;
  top:187px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:69px;
  font-size:14px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:69px;
}
#u13 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:68px;
  width:320px;
  height:72px;
  font-size:14px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:72px;
}
#u15 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:139px;
  width:320px;
  height:71px;
  font-size:14px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:71px;
}
#u17 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:10px;
  top:10px;
  width:50px;
  height:50px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u19 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:10px;
  top:79px;
  width:50px;
  height:50px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u21 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:10px;
  top:150px;
  width:50px;
  height:50px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u23 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:0px;
  top:68px;
  width:320px;
  height:388px;
  overflow:hidden;
  visibility:hidden;
}
#u24_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:388px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u24_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:390px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:390px;
}
#u26 {
  position:absolute;
  left:2px;
  top:187px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:69px;
  text-align:right;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:69px;
}
#u28 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:0px;
  top:68px;
  width:320px;
  height:72px;
  text-align:right;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:72px;
}
#u30 {
  position:absolute;
  left:2px;
  top:4px;
  width:316px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:139px;
  width:320px;
  height:71px;
  text-align:right;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:71px;
}
#u32 {
  position:absolute;
  left:2px;
  top:4px;
  width:316px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:10px;
  top:10px;
  width:50px;
  height:50px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u34 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:10px;
  top:79px;
  width:50px;
  height:50px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u36 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:10px;
  top:150px;
  width:50px;
  height:50px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u38 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:10px;
  top:10px;
  width:431px;
  height:652px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:652px;
}
#u41 {
  position:absolute;
  left:2px;
  top:318px;
  width:427px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:65px;
  top:86px;
  width:320px;
  height:480px;
}
#u43 {
  position:absolute;
  left:65px;
  top:86px;
  width:321px;
  height:26px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:26px;
}
#u44 {
  position:absolute;
  left:2px;
  top:5px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:65px;
  top:212px;
  width:322px;
  height:41px;
  text-align:left;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:41px;
}
#u46 {
  position:absolute;
  left:2px;
  top:12px;
  width:318px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:65px;
  top:292px;
  width:322px;
  height:43px;
  text-align:left;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:43px;
}
#u48 {
  position:absolute;
  left:2px;
  top:14px;
  width:318px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:79px;
  top:222px;
  width:21px;
  height:21px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u50 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:79px;
  top:302px;
  width:21px;
  height:21px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u52 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:65px;
  top:143px;
  width:322px;
  height:70px;
  overflow:hidden;
}
#u53_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:70px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u53_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:70px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:70px;
}
#u55 {
  position:absolute;
  left:2px;
  top:19px;
  width:318px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:10px;
  top:9px;
  width:60px;
  height:50px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:50px;
}
#u57 {
  position:absolute;
  left:2px;
  top:17px;
  width:56px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:297px;
  top:24px;
  width:9px;
  height:16px;
  font-size:14px;
  color:#000000;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:65px;
  top:143px;
  width:322px;
  height:70px;
  overflow:hidden;
  visibility:hidden;
}
#u60_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:70px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u60_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:70px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:70px;
}
#u62 {
  position:absolute;
  left:2px;
  top:19px;
  width:318px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:10px;
  top:9px;
  width:60px;
  height:50px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:50px;
}
#u64 {
  position:absolute;
  left:2px;
  top:17px;
  width:56px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:302px;
  top:27px;
  width:9px;
  height:16px;
  font-size:14px;
  color:#000000;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:260px;
  top:43px;
  width:62px;
  height:27px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:27px;
}
#u68 {
  position:absolute;
  left:2px;
  top:6px;
  width:58px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:65px;
  top:111px;
  width:322px;
  height:457px;
  overflow:hidden;
  visibility:hidden;
}
#u69_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:457px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u69_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:456px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:456px;
}
#u71 {
  position:absolute;
  left:2px;
  top:220px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:35px;
  text-align:left;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:35px;
}
#u73 {
  position:absolute;
  left:2px;
  top:6px;
  width:316px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:270px;
  top:0px;
  width:50px;
  height:35px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:35px;
}
#u75 {
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:0px;
  top:67px;
  width:310px;
  height:26px;
  color:#797979;
  text-align:left;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:26px;
}
#u77 {
  position:absolute;
  left:2px;
  top:5px;
  width:306px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:0px;
  top:92px;
  width:319px;
  height:26px;
  color:#797979;
  text-align:left;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:26px;
}
#u79 {
  position:absolute;
  left:2px;
  top:5px;
  width:315px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:0px;
  top:117px;
  width:319px;
  height:26px;
  color:#797979;
  text-align:left;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:26px;
}
#u81 {
  position:absolute;
  left:2px;
  top:5px;
  width:315px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:10px;
  top:86px;
  width:290px;
  height:10px;
}
#u82_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u82_end {
  position:absolute;
  left:273px;
  top:-5px;
  width:18px;
  height:20px;
}
#u82_line {
  position:absolute;
  left:0px;
  top:5px;
  width:290px;
  height:1px;
}
#u83 {
  position:absolute;
  left:0px;
  top:29px;
  width:320px;
  height:10px;
}
#u83_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u83_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u83_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u84 {
  position:absolute;
  left:10px;
  top:113px;
  width:290px;
  height:10px;
}
#u84_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u84_end {
  position:absolute;
  left:273px;
  top:-5px;
  width:18px;
  height:20px;
}
#u84_line {
  position:absolute;
  left:0px;
  top:5px;
  width:290px;
  height:1px;
}
#u85 {
  position:absolute;
  left:10px;
  top:137px;
  width:290px;
  height:10px;
}
#u85_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u85_end {
  position:absolute;
  left:273px;
  top:-5px;
  width:18px;
  height:20px;
}
#u85_line {
  position:absolute;
  left:0px;
  top:5px;
  width:290px;
  height:1px;
}
#u86 {
  position:absolute;
  left:0px;
  top:34px;
  width:320px;
  height:32px;
  color:#797979;
  text-align:left;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:32px;
}
#u87 {
  position:absolute;
  left:2px;
  top:8px;
  width:316px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:10px;
  top:153px;
  width:290px;
  height:32px;
  color:#797979;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:32px;
}
#u89 {
  position:absolute;
  left:2px;
  top:8px;
  width:286px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:65px;
  top:111px;
  width:321px;
  height:457px;
  overflow:hidden;
  visibility:hidden;
}
#u90_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:457px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u90_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u91 {
  position:absolute;
  left:0px;
  top:-15px;
  width:320px;
  height:475px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:475px;
}
#u92 {
  position:absolute;
  left:2px;
  top:230px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:48px;
  top:0px;
  width:272px;
  height:40px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:40px;
}
#u94 {
  position:absolute;
  left:2px;
  top:12px;
  width:268px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:280px;
  top:8px;
  width:25px;
  height:25px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u96 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:0px;
  top:39px;
  width:320px;
  height:40px;
  text-align:left;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u98 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:0px;
  top:78px;
  width:320px;
  height:40px;
  text-align:left;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u100 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:0px;
  top:117px;
  width:320px;
  height:40px;
  text-align:left;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u102 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:0px;
  top:156px;
  width:320px;
  height:40px;
  text-align:left;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u104 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:0px;
  top:195px;
  width:320px;
  height:40px;
  text-align:left;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u106 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:0px;
  top:234px;
  width:320px;
  height:40px;
  text-align:left;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u108 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:0px;
  top:273px;
  width:320px;
  height:40px;
  text-align:left;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u110 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:0px;
  top:312px;
  width:320px;
  height:40px;
  text-align:left;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u112 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:0px;
  top:351px;
  width:320px;
  height:40px;
  text-align:left;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u114 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:40px;
  font-size:28px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:40px;
}
#u116 {
  position:absolute;
  left:2px;
  top:4px;
  width:45px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:65px;
  top:111px;
  width:321px;
  height:457px;
  overflow:hidden;
  visibility:hidden;
}
#u117_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:457px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u117_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:455px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:455px;
}
#u119 {
  position:absolute;
  left:2px;
  top:220px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:65px;
  top:253px;
  width:322px;
  height:39px;
  text-align:left;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:39px;
}
#u121 {
  position:absolute;
  left:2px;
  top:12px;
  width:318px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:79px;
  top:263px;
  width:21px;
  height:21px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u123 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:470px;
  top:90px;
  width:240px;
  height:380px;
  text-align:left;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:380px;
}
#u125 {
  position:absolute;
  left:2px;
  top:2px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:65px;
  top:112px;
  width:322px;
  height:32px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:32px;
}
#u127 {
  position:absolute;
  left:2px;
  top:8px;
  width:318px;
  word-wrap:break-word;
}
