body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1033px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:830px;
  top:120px;
  width:203px;
  height:217px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:217px;
}
#u1 {
  position:absolute;
  left:2px;
  top:92px;
  width:199px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:10px;
  top:10px;
  width:431px;
  height:652px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:652px;
}
#u4 {
  position:absolute;
  left:2px;
  top:318px;
  width:427px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:65px;
  top:86px;
  width:320px;
  height:480px;
}
#u6 {
  position:absolute;
  left:65px;
  top:86px;
  width:321px;
  height:26px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:26px;
}
#u7 {
  position:absolute;
  left:2px;
  top:5px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:65px;
  top:111px;
  width:318px;
  height:29px;
  font-size:18px;
  color:#1B1B1B;
  text-align:left;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:29px;
}
#u9 {
  position:absolute;
  left:2px;
  top:4px;
  width:314px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:90px;
  top:524px;
  width:20px;
  height:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u11 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:261px;
  top:524px;
  width:20px;
  height:20px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u13 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:175px;
  top:524px;
  width:20px;
  height:20px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u15 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:346px;
  top:524px;
  width:20px;
  height:20px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u17 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:86px;
  top:545px;
  width:29px;
  height:11px;
  font-size:14px;
  color:#000000;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:11px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:250px;
  top:545px;
  width:43px;
  height:11px;
  font-size:14px;
  color:#000000;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:11px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:169px;
  top:545px;
  width:29px;
  height:11px;
  font-size:14px;
  color:#000000;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:11px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:326px;
  top:545px;
  width:57px;
  height:11px;
  font-size:14px;
  color:#000000;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:11px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:65px;
  top:150px;
  width:318px;
  height:340px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:340px;
}
#u27 {
  position:absolute;
  left:2px;
  top:162px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:80px;
  top:170px;
  width:290px;
  height:40px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:40px;
}
#u29 {
  position:absolute;
  left:2px;
  top:12px;
  width:286px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:100px;
  top:182px;
  width:27px;
  height:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:79px;
  top:220px;
  width:290px;
  height:40px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:40px;
}
#u33 {
  position:absolute;
  left:2px;
  top:12px;
  width:286px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:79px;
  top:280px;
  width:290px;
  height:40px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:40px;
}
#u35 {
  position:absolute;
  left:2px;
  top:12px;
  width:286px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:100px;
  top:232px;
  width:27px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:100px;
  top:292px;
  width:27px;
  height:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:343px;
  top:110px;
  width:40px;
  height:30px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u41 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:346px;
  top:170px;
  width:474px;
  height:167px;
  overflow:hidden;
  visibility:hidden;
}
#u42_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:167px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u42_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  font-size:18px;
  color:#3300FF;
  text-align:left;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u44 {
  position:absolute;
  left:2px;
  top:9px;
  width:196px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:0px;
  top:40px;
  width:200px;
  height:40px;
  text-align:left;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u46 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:0px;
  top:79px;
  width:200px;
  height:40px;
  text-align:left;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u48 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:0px;
  top:118px;
  width:200px;
  height:31px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:31px;
}
#u50 {
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:169px;
  top:53px;
  width:20px;
  height:16px;
  font-size:11px;
  color:#000000;
}
#u52 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u53 {
  position:absolute;
  left:170px;
  top:90px;
  width:20px;
  height:16px;
  font-size:11px;
  color:#000000;
}
#u54 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u55 {
  position:absolute;
  left:383px;
  top:189px;
  width:421px;
  height:119px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:119px;
}
#u56 {
  position:absolute;
  left:2px;
  top:52px;
  width:417px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:441px;
  top:200px;
  width:59px;
  height:38px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:38px;
}
#u58 {
  position:absolute;
  left:2px;
  top:11px;
  width:55px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:441px;
  top:252px;
  width:59px;
  height:38px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:38px;
}
#u60 {
  position:absolute;
  left:2px;
  top:11px;
  width:55px;
  word-wrap:break-word;
}
