body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:990px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:420px;
  top:93px;
  width:240px;
  height:477px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:477px;
}
#u1 {
  position:absolute;
  left:2px;
  top:222px;
  width:236px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:10px;
  top:10px;
  width:431px;
  height:652px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:652px;
}
#u4 {
  position:absolute;
  left:2px;
  top:318px;
  width:427px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:65px;
  top:86px;
  width:320px;
  height:480px;
}
#u6 {
  position:absolute;
  left:65px;
  top:86px;
  width:321px;
  height:26px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:26px;
}
#u7 {
  position:absolute;
  left:2px;
  top:5px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:65px;
  top:111px;
  width:318px;
  height:29px;
  font-size:18px;
  color:#1B1B1B;
  text-align:left;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:29px;
}
#u9 {
  position:absolute;
  left:2px;
  top:4px;
  width:314px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:65px;
  top:140px;
  width:318px;
  height:430px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:430px;
}
#u11 {
  position:absolute;
  left:2px;
  top:207px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:230px;
  top:540px;
  width:153px;
  height:30px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:700px;
  top:110px;
  width:290px;
  height:430px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:430px;
}
#u15 {
  position:absolute;
  left:2px;
  top:207px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
