body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:450px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:19px;
  top:10px;
  width:431px;
  height:652px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:652px;
}
#u2 {
  position:absolute;
  left:2px;
  top:318px;
  width:427px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:74px;
  top:86px;
  width:320px;
  height:480px;
}
#u4 {
  position:absolute;
  left:74px;
  top:86px;
  width:321px;
  height:26px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:26px;
}
#u5 {
  position:absolute;
  left:2px;
  top:5px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:74px;
  top:112px;
  width:322px;
  height:28px;
  text-align:left;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:28px;
}
#u7 {
  position:absolute;
  left:2px;
  top:4px;
  width:318px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:74px;
  top:145px;
  width:322px;
  height:51px;
  font-size:16px;
  text-align:left;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:51px;
}
#u9 {
  position:absolute;
  left:0px;
  top:-3px;
  width:322px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:80px;
  top:209px;
  width:310px;
  height:161px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:161px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u11 {
  position:absolute;
  left:140px;
  top:389px;
  width:190px;
  height:41px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:41px;
}
#u12 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  word-wrap:break-word;
}
