body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:860px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:10px;
  top:10px;
  width:431px;
  height:652px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:652px;
}
#u2 {
  position:absolute;
  left:2px;
  top:318px;
  width:427px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:65px;
  top:86px;
  width:320px;
  height:480px;
}
#u4 {
  position:absolute;
  left:65px;
  top:86px;
  width:321px;
  height:26px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:26px;
}
#u5 {
  position:absolute;
  left:2px;
  top:5px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:65px;
  top:111px;
  width:318px;
  height:29px;
  font-size:18px;
  color:#1B1B1B;
  text-align:left;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:29px;
}
#u7 {
  position:absolute;
  left:2px;
  top:4px;
  width:314px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:470px;
  top:93px;
  width:390px;
  height:157px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:157px;
}
#u9 {
  position:absolute;
  left:2px;
  top:6px;
  width:386px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:230px;
  top:118px;
  width:15px;
  height:15px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u11 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:72px;
  top:186px;
  width:311px;
  height:201px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:201px;
}
#u13 {
  position:absolute;
  left:2px;
  top:92px;
  width:307px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:65px;
  top:410px;
  width:318px;
  height:153px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:153px;
}
#u15 {
  position:absolute;
  left:2px;
  top:68px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:320px;
  top:115px;
  width:50px;
  height:21px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:21px;
}
#u17 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:84px;
  top:150px;
  width:280px;
  height:30px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:7px;
  width:276px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:196px;
  top:400px;
  width:56px;
  height:47px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:47px;
}
#u21 {
  position:absolute;
  left:2px;
  top:16px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
